<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小慧智能后台管理</title>
    <link href="../static/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">小慧智能</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="#">管理员用户</a>
            </li>
            <li class="layui-nav-item">
                <a href="#">退出</a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed"><a href="#" id="menu">
                     <i class="layui-icon layui-icon-component">菜单管理</i></a></li>
                <li class="layui-nav-item"><a href="#" id="action">动作管理</a></li>
                <li class="layui-nav-item "><a href="#" id="user">
                    <i class="layui-icon layui-icon-user">用户管理</i></a></li>
                <li class="layui-nav-item"><a href="#" id="project_group">项目组管理</a></li>
                <li class="layui-nav-item"><a href="#" id="project">项目管理</a></li>
                <li class="layui-nav-item"><a href="#" id="site">站点管理</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body ">
        <div class="layui-icon layui-icon-404" style="font-size: 500px;left: 50%;top: 50%"></div>
    </div>
    <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 小慧智能
    </div>
</div>
</body>
<script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="../static/layui/layui.js" type="text/javascript"></script>
<script src="../static/layui/layui.all.js" type="text/javascript"></script>
</html>